.title {
  margin: 0;
  padding: 0 0 23px;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 1.23;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
}

@media (max-width: 480px) {
  .title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 1.22;
  }
}
