@keyframes showAndHide {
  0% {
    bottom: -40px;
  }
  10% {
    bottom: 20px;
  }
  90% {
    bottom: 20px;
  }
  100% {
    bottom: -40px;
  }
}

.notification {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 5px;
  font-size: 13px;
  line-height: 1.2;
  position: fixed;
  left: 30px;
  bottom: -40px;
  border-radius: 10px;
  align-items: center;
}

.notification_active {
  animation: showAndHide 2s linear;
}

.notification_success {
  --color: #69ec69;
  background-color: var(--color);
}

.notification_error {
  --color: #ec6969;
  background-color: var(--color);
}

.notification:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  bottom: 7px;
  border-style: solid;
  border-width: 7px 11px 7px 0;
  border-color: transparent var(--color) transparent transparent;
}

.notification__icon {
  width: 20px;
  height: 20px;
}
