.toggle {
  padding: 0;
  display: flex;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

@media (max-width: 650px) {
  .toggle {
    margin: 45px auto 0;
  }
}

.toggle__toggle {
  width: 36px;
  height: 20px;
  margin-right: 14px;
  box-sizing: border-box;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.toggle_on .toggle__toggle {
  background-color: #fff;
  border-color: #2be080;
}

.toggle__circle {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.toggle_on .toggle__circle {
  background-color: #2be080;
  transform: translateX(16px);
}

.toggle__text {
  margin: 0;
  font-size: 13px;
  line-height: 1.38;
}

@media (max-width: 480px) {
  .toggle__text {
    font-size: 11px;
    line-height: 1.64;
  }
}
