.navigation__list-unauthorized {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  list-style: none;
}

.navigation__signup {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.navigation__signin {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background-color: var(--accent);
  border-radius: 3px;
}

.navigation__list-authorized {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
}

.navigation__movies {
  font-size: 13px;
  line-height: 1.38;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.navigation__saved-movies {
  font-size: 13px;
  line-height: 1.38;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}