.navigation__list-unauthorized {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  list-style: none;
}

@media (max-width: 620px) {
  .navigation__list-unauthorized {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .navigation__nav-authorized {
    width: 100%;
    max-width: 520px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s, opacity .2s ease-in-out;
  }

  .navigation__nav-authorized_opened {
    position: fixed;
    opacity: 1;
    visibility: visible;
  }
}

.navigation__nav-authorized::before {
  content: '';
  height: 100vh;
  width: calc(100vw - 520px);
  position: absolute;
  top: 0;
  left: calc(-100vw + 520px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navigation__nav-authorized_opened::before {
  opacity: 1;
}

.navigation__signup {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 380px) {
  .navigation__signup {
    font-size: 10px;
    line-height: 1.6;
  }
}

.navigation__signin {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background-color: var(--accent);
  border-radius: 3px;
}

@media (max-width: 380px) {
  .navigation__signin {
    padding: 4px 12px;
    font-size: 10px;
    line-height: 1.6;
  }
}

.navigation__list-authorized {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  list-style: none;
}

@media (max-width: 768px) {
  .navigation__list-authorized {
    padding: 159px 30px 90px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
}

@media (max-width: 480px) {
  .navigation__list-authorized {
    padding: 145px 30px 86px;
    gap: 26px;
  }
}

.navigation__link {
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.navigation__link_active {
  border-bottom: 2px solid #000;
}

@media (min-width: 769px) {
  .header_home .navigation__link {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .navigation__link {
    font-size: 18px;
    line-height: 1.22;
  }
}
