.more-button {
  width: 100%;
  margin-top: 50px;
  padding: 11px 0 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  border: none;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .more-button {
    margin-top: 72px;
  }
}

@media (max-width: 620px) {
  .more-button {
    margin-top: 66px;
  }
}
